<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wickham Athletics</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery.bxslider.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Wickham Athletics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Ryan", "Ryan", "Home")</li>
                    <li>@Html.ActionLink("Jimmy", "Jimmy", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
    </div> 
    <div class="container-fluid body-content full-width">
        <footer>
            <!-- EmailUpdateMessage partial view goes here -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="footer-h2">Want more information?</h2>
                </div>
                <div class="col-xs-12">
                <div class="col-md-6">
                    <div class="col-xs-12">
                        <p>Contact us by the following methods:</p>
                    </div>
                    <div class="col-xs-3 right-align border-right">
                        <p>phone</p>
                    </div>
                    <div class="col-xs-9">
                        <p>785.383.3490</p>
                    </div>
                    <div class="col-xs-3 right-align border-right">
                        <p>email</p>
                    </div>
                    <div class="col-xs-9">
                        <p>ryan@wickhamathletics.com</p>
                    </div>
                    <div class="col-xs-3 right-align border-right">
                        <p>brick and mortar</p>
                    </div>
                    <div class="col-xs-9">
                        <p>5626 SW Topeka Blvd, Suite A </p>
                        <p>Topeka, Kansas 66609</p>
                    </div>
                    <div class="col-xs-3 margin-bottom">

                    </div>
                    <a href="https://www.facebook.com/WickhamAthletics/"><img src="~/Images/grey-facebook.png" alt="Facebook logo" class="social-media-link col-xs-9" /></a>
                </div>
                    <!-- ContactForm partial view goes here -->
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- These methods are invoked at different stages of the AJAX call-->
    <script type="text/javascript">
    function HideForm() {
        //When the form is submitted, we hide the form
        $("#form-area").hide();
    }
    function ShowFailure() {
        //In the case that the AJAX call fails to communicate with the server
        //(e.g. the user's internet connection cuts out), we should display a message to that effect
        $('#message-area').html("<div class='alert alert-danger'><strong>Error!</strong>The server could not be contacted and your message has not been sent. Please check your internet connection and try again later.</div>");
    }
    </script>
</body>
</html>
